* {
  margin: 0;
  padding: 0;
}
/*telas para mobile-first, ou seja, celulares menores*/
@media (max-width: 600px) {
  body {
    background: linear-gradient(450deg, rgb(85, 84, 84), rgb(77, 78, 79));
    font-style: italic;
  }
  header {
    background: linear-gradient(350deg, rgb(251, 238, 116), rgb(78, 167, 205));
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .register--link {
    position: relative;
    margin-top: -50px;
    margin-bottom: 10px;
  }

  .register--link {
    position: relative;
    margin-top: -80px;
    margin-bottom: 10px;
  }

  .texto__nos {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }
  p a {
    display: grid;
    justify-content: center;
  }
}

/*telas maiores como tablet, desktops e etc... */

@media (min-width: 601px) and (max-width: 768px) {
  body {
    background: linear-gradient(450deg, rgb(181, 153, 149), rgb(147, 217, 248));
    font-style: italic;
    font-display: none;
  }
  header {
    background: linear-gradient(350deg, rgb(251, 238, 116), rgb(78, 167, 205));
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .register--link {
    position: relative;
    margin-top: -50px;
    margin-bottom: 10px;
  }
  .lembrar--me {
    position: relative;
    margin-top: -70px;
    margin-left: 10px;
  }

  .texto__nos {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }
  p a {
    display: grid;
    justify-content: center;
  }

  .checkbox--primario {
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 769px) and (max-width: 935px) {
  body {
    background: linear-gradient(450deg, rgb(187, 238, 131), rgb(44, 192, 255));
  }
  header {
    background: linear-gradient(350deg, rgb(251, 238, 116), rgb(78, 167, 205));
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .conteudo {
    display: grid;
    grid-template-columns: 2fr;
  }
  .conteudo__title {
    position: relative;
    right: 250px;
    top: 50px;
  }

  nav {
    padding-right: 100px;
  }
  .nav__espac {
    background: linear-gradient(250deg, rgb(187, 238, 131), rgb(63, 160, 202));
    padding-right: 99.4px;
    padding-left: 10px;
    position: relative;
    right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(34, 34, 34);
  }
  .register--link {
    position: relative;
    margin-top: -50px;
    margin-bottom: 10px;
  }
  .lembrar--me {
    position: relative;
    margin-top: -70px;
    margin-left: 10px;
  }
}

@media (min-width: 936px) and (max-width: 1100px) {
  body {
    background: linear-gradient(350deg, rgb(251, 109, 42), rgb(78, 167, 205));
  }
  header {
    background: linear-gradient(350deg, rgb(251, 187, 58), rgb(78, 167, 205));
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .register--link {
    position: relative;
    margin-top: -50px;
    margin-bottom: 10px;
  }
  .lembrar--me {
    position: absolute;
    margin-top: 309px;
    margin-left: -60px;
  }

  .article__respo {
    opacity: 0%;
  }
  .lembrar--me {
    right: 10px;
    top: 15px;
    left: 0.1vh;
    white-space: nowrap;
    text-decoration: underline;
    font-style: italic;
  }
}

@media (min-width: 1101px) {
  body {
    background-color: rgb(239, 208, 168);
  }
  header {
    padding-left: 10px;
    padding-top: 20px;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .cabecalho__title {
    position: relative;
    top: -140px;
  }

  .button__azul {
    margin-top: -10px;
  }

  article {
    position: relative;
    margin-left: -40px;
  }

  .lembrar--me {
    position: relative;
    left: 30px;
    bottom: 65px;
    font-size: large;
  }
}

header {
  background: linear-gradient(350deg, rgb(251, 187, 58), rgb(78, 167, 205));
  padding-bottom: 45px;
}
.cabecalho {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 20px;
  color: gray;

  .cabecalho__title {
    position: relative;
    bottom: 61px;
  }
  .cabecalho__subtitulo {
    position: relative;
    color: aliceblue;
    left: 1px;
  }
}
