@use 'variaveis';
@use 'mixins';

.about {
  @include mixins.grid;
  justify-content: variaveis.$centralizado;
  padding: variaveis.$espacamento-padrao;
  flex-direction: column;

  &__us {
    font-size: variaveis.$fonte;
    @include mixins.grid;
    justify-content: variaveis.$centralizado;
  }
  &__texto {
    @include mixins.grid;
    justify-content: variaveis.$centralizado;
  }
}
