@use "variaveis";
@use "mixins";

.cabecalho {
  background: variaveis.$cor-primaria;
  color: variaveis.$cor-fonte;
  @include mixins.grid;
  justify-content: center;
  padding: variaveis.$espaco;
  border-radius: variaveis.$borda;
  box-shadow: variaveis.$sombra-suave;

  &__title {
    text-align: variaveis.$centralizado;
    font-size: variaveis.$fonte;
  }

  &__subtitulo {
    text-align: variaveis.$centralizado;
    font-size: variaveis.$fonte-for;
  }
}
