@use 'variaveis';
@use 'mixins';

.componentes{
  @include mixins.grid;
  justify-content: variaveis.$centralizado;
  padding: variaveis.$espacamento-padrao;
  flex-direction: column;

  &__texto--nos{
    font-size: variaveis.$fonte-for;
    @include mixins.grid;
    justify-content: variaveis.$centralizado;
  }
  &__texto {
    @include mixins.grid;
    justify-content: variaveis.$centralizado;
  }
}
