$cor-primaria: #f80f03f7;
$espacamento-padrao: 20px;
$largura: 8%;
$cor-fonte: #f9f9f9;
$centralizado: center;
$fonte: 35px;
$fonte-for: calc($fonte / 1.2);
$margem: 100px;
$espaco: 5.3%;
$borda: 20px;
$cor-secundario: rgb(0, 144, 134);
$estilo: italic;
$margem-secundario: 500px;
$largura--secundario: 50px;
$espacamento-medio: $espacamento-padrao * 5;
$position: relative;
$sombra-suave: 0 6.5px 11px rgba(0, 0, 0, 0.414);
$fonte-italic: italic;
$grid: grid;
