@use 'variaveis';
@use 'cabecalho';
@use 'login';
@use 'about';
@use 'rodape';

img {
  width: variaveis.$largura;
}

.linha__linha--primaria {
  position: relative;
  top: variaveis.$espacamento-padrao;
}
.linha__linha--secundaria {
  position: relative;
  bottom: variaveis.$espacamento-padrao;
}
